[Desktop Entry]
Encoding=UTF-8
Name=Link to Education SponsorshipLorem ipsum dolor sit amet consectetur adipiscing elit seddo eiusmod tempor incididunt ut labore et.
Type=Link
URL=https://harmony-template.webflow.io/about
Icon=text-html
